@font-face {
    font-family: "BwModelica-Black";
    src: url("./../fonts/BwModelica/BwModelica-Black.otf");
}

@font-face {
    font-family: "BwModelica-BlackItalic";
    src: url("./../fonts/BwModelica/BwModelica-BlackItalic.otf");
}

@font-face {
    font-family: "BwModelica-Bold";
    src: url("./../fonts/BwModelica/BwModelica-Bold.otf");
}

@font-face {
    font-family: "BwModelica-BoldItalic";
    src: url("./../fonts/BwModelica/BwModelica-BoldItalic.otf");
}

@font-face {
    font-family: "BwModelica-ExtraBold";
    src: url("./../fonts/BwModelica/BwModelica-ExtraBold.otf");
}

@font-face {
    font-family: "BwModelica-ExtraBoldItalic";
    src: url("./../fonts/BwModelica/BwModelica-ExtraBoldItalic.otf");
}

@font-face {
    font-family: "BwModelica-Hairline";
    src: url("./../fonts/BwModelica/BwModelica-Hairline.otf");
}

@font-face {
    font-family: "BwModelica-HairlineItalic";
    src: url("./../fonts/BwModelica/BwModelica-HairlineItalic.otf");
}

@font-face {
    font-family: "BwModelica-Light";
    src: url("./../fonts/BwModelica/BwModelica-Light.otf");
}

@font-face {
    font-family: "BwModelica-LightItalic";
    src: url("./../fonts/BwModelica/BwModelica-LightItalic.otf");
}

@font-face {
    font-family: "BwModelica-Medium";
    src: url("./../fonts/BwModelica/BwModelica-Medium.otf");
}

@font-face {
    font-family: "BwModelica-MediumItalic";
    src: url("./../fonts/BwModelica/BwModelica-MediumItalic.otf");
}

@font-face {
    font-family: "BwModelica-Regular";
    src: url("./../fonts/BwModelica/BwModelica-Regular.otf");
}

@font-face {
    font-family: "BwModelica-RegularItalic";
    src: url("./../fonts/BwModelica/BwModelica-RegularItalic.otf");
}

@font-face {
    font-family: "BwModelica-Thin";
    src: url("./../fonts/BwModelica/BwModelica-Thin.otf");
}

@font-face {
    font-family: "BwModelica-ThinItalic";
    src: url("./../fonts/BwModelica/BwModelica-ThinItalic.otf");
}