:root {
    --Cores-Base---Quietude-1: #020426;
    --Cores-Base---Quietude-2: #0F2F59;
    --Cores-Base---Quietude-3: #0478A6;
    --Cores-Base---Quietude-4: #07C4D9;
    --Cores-Base---Quietude-5: #07F2F2;

    --Cores-complementares-input: #3C628C;
    --body-color: #ededed;
}